# Frontend
VITE_AUTH_CLIENT_ID=8qNA2sSV88fusOocZcMj6GirTLWYygdAXnmtLUfe
VITE_BACKEND_URL=http://localhost:8080

# Billing Service
STRIPE_API_KEY=sk_test_...
FRONTEND_URL=http://localhost:3000

# User Service
AUTHENTIK_BASE_URL=https://auth.kleff.io
AUTHENTIK_API_TOKEN=token_...
DEFAULT_ADMIN_EMAIL=admin@kleff.io

# Observability Service
LOKI_URL=http://loki:3100
